.search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 8px;
    width: 361px;
    height: 36px;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  
    .search-glyph,
    .placeholder-label,
    .dictation {
      // font-family: 'SF Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      color: rgba(60, 60, 67, 0.6);
    }
  
    .search-glyph,
    .dictation {
      width: 25px;
      height: 22px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    .placeholder-label {
      width: 303px;
      height: 22px;
      letter-spacing: -0.4px;
      flex: none;
      order: 1;
      flex-grow: 1;
    }
  
    .dictation {
      width: 17px;
      height: 22px;
      text-align: center;
      flex: none;
      order: 2;
      flex-grow: 0;
    }
  }
  