body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.menubar {
    position: fixed;
    top: 0;  // Changed from bottom: 0; to top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    height: 80px;
    z-index: 1000;
}

.icon {
    font-size: 24px;
    flex: 1;
    text-align: center;
}
